<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" style="background-color:black;">
<head>
    <title>A14 - Angular - WebApi - MakeLifeEasy  2</title>

</head>
<body ng-app="appAdmirMain">

    <div ng-controller="cMain2" style="color:white;">

        <table>
            <tr>
                <td>
                    <div  style="color:white; font-size:16px;">Search Table
                    </div>
                </td>
                <td>
                    <input type="text" ng-model="searchTableName" style="color:black; font-size:16px;" />
                </td>
                <td>
                    <div style="color:white; font-size:16px;">Server OrderBy
                    </div>
                </td>
                <td>
                    <input type="text" ng-model="serverOrderBy" style="color:black; font-size:16px;" />
                </td>
                <td>
                    <div style="color:white; font-size:16px;">
                        Server Filter
                    </div>
                </td>
                <td>
                    <input type="text" ng-model="serverFilter" style="color:black; font-size:16px;" />
                </td>
                <td>
                    <div style="color:white; font-size:16px;">
                        Server SelectBy
                    </div>
                </td>
                <td>
                    <input type="text" ng-model="serverSelectBy" style="color:black; font-size:16px;" />
                </td>

                <td>
                    <div style="color:white; font-size:16px;">
                        Server TopBy
                    </div>
                </td>
                <td>
                    <input type="text" ng-model="serverTopBy" style="color:black; font-size:16px;" />
                </td>
                <td>
                    <div style="color:white; font-size:16px;">
                        Server SkipBy
                    </div>
                </td>
                <td>
                    <input type="text" ng-model="serverSkipBy" style="color:black; font-size:16px;" />
                </td>
                <td>
                    <button ng-click="changeTable(searchTableName)" style="font-size:16px;">Click Here</button>
                </td>

           </tr>
        </table>


        <ad-grid >

        </ad-grid>



        <table>
            <tr>
                <td style="font-size:18px;color:white; vertical-align:top">
                    Results:
                </td>
            </tr>

        </table>

        <br/>


        <div style="color:white;">






            <div style="color:white;" ng-if="searchTableName == 'customers'">
                <div style="height:100%; width:100%; border-style:solid; border-width:2px; border-color:silver;text-align:left;">
                    <table style="color:wheat;">
                        <tr>
                            <th style="text-align:left;color:white; background-color:transparent; ">Company</th>
                            <th style="text-align:left;color:white; background-color:transparent;padding:0px 0px 0px 40px; ">Name</th>
                            <th style="text-align:left;color:white; background-color:transparent;padding:0px 0px 0px 40px; ">Country</th>
                        </tr>
                        <tr data-ng-repeat="(keyp, p) in customersList">
                            <td><div ng-bind="p.companyName"></div></td>
                            <td style=" padding:0px 0px 0px 40px;"><div ng-bind="p.contactName"></div></td>
                            <td style=" padding:0px 0px 0px 40px;"><input type="text" ng-model="p.country" /></td>
                        </tr>
                    </table>

                </div>


            </div>

            <div style="color:white;" ng-if="searchTableName == 'suppliers'">
                <div style="height:100%; width:100%; border-style:solid; border-width:2px; border-color:silver;text-align:left;">
                    <table style="color:wheat;">
                        <tr>
                            <th style="text-align:left;color:white; background-color:transparent; ">Company</th>
                            <th style="text-align:left;color:white; background-color:transparent;padding:0px 0px 0px 40px; ">Name</th>
                        </tr>
                        <tr data-ng-repeat="(keyp, p) in suppliersList">
                            <td><div ng-bind="p.companyName"></div></td>
                            <td style=" padding:0px 0px 0px 40px;"><div ng-bind="p.contactName"></div></td>
                        </tr>
                    </table>

                </div>

            </div>





        </div>

    </div>

    <script src="Scripts/jquery-2.1.4.min.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-resource.min.js"></script>

    <!-- Admir -->
    <script src="Angular/Modules/appAdmirMain.js"></script>
    <script src="Angular/Modules/GrandeGrid/Controllers/cMain2.js"></script>
    <script src="Angular/Modules/WebApi/appWebApi.js"></script>
    <script src="Angular/Modules/WebApi/Factories/fWebapi2.js"></script>
    <script src="Angular/Modules/WebApi/Directives/adWebapi2.js"></script>
    <script src="Angular/Modules/WebApi/Directives/adGrid.js"></script>
</body>
</html>
