
<td>Hellow</td>



<!--<div style="border-style:solid; border-width:2px; border-color:white; border-radius:4px;">
    <table style="background-color:#D00A00;">

        <tr style="">



            <td style="text-align:left;vertical-align:top; white-space:normal" data-ng-repeat="(keyk, k) in keys" ng-if="k != '$id'">
                <img ng-if="k == 'image'" ng-src="{{p[k]}}" data-ng-style="{backgroundSize: '100% 100%' , backgroundRepeat: 'no-repeat' , width: o[k].width +  'px' , height: o[k].height + 'px'  }" />
                <div ng-if="!isEditable">
                    <div ng-if="k != 'image'" ng-bind="p[k]" data-ng-style="{fontFamily: o[k].fontFamily  , color: o[k].displayColor  , width: o[k].width +  'px' , height: o[k].height + 'px'  }"></div>
                </div>
                <div ng-if="isEditable">
                    <input type="text" ng-if="k != 'image'" ng-model="p[k]" data-ng-style="{fontFamily: o[k].fontFamily  , color: o[k].displayColor  , width: o[k].width +  'px' , height: o[k].height + 'px'  }" />
                </div>
            </td>
            <td style="background-color:black;vertical-align:top; white-space:nowrap">
                <button style="color:white;background-color:#D00A00;" class="btn  btn-xs" ng-disabled="isDisabled" ng-click="Edit(a, keya)" ng-if="!isEditable">Edit</button>
                <button style="color:white;background-color:#D00A00;" class="btn  btn-xs" ng-click="Update(p, keyp)" ng-if="isEditable">Update</button>
                <button style="color:white;background-color:#D00A00;" class="btn  btn-xs" ng-disabled="isDisabled" ng-click="Delete()" ng-if="!isEditable">Delete</button>
                <button style="color:white;background-color:#D00A00;" class="btn  btn-xs" ng-click="Cancel(a, keya)" ng-if="isEditable">Cancel</button>
                <button style="color:white;background-color:#D00A00;" class="btn  btn-xs" ng-disabled="isDisabled" ng-click="Run(p, keyp)" ng-if="!isEditable">Run</button>
            </td>

        </tr>
    </table>

</div>-->
